language: groovy

jdk:
  - oraclejdk7
  - oraclejdk8
  - openjdk6

script:
  - ./gradlew clean build test

before_install:
  - chmod +x gradlew

after_success:
- "./gradlew jacocoTestReport coveralls --debug"
- "./gradlew publishPlugins"